.social {
	text-align: center;
}

/* Wrapper */
.icon-button {
	background-color: ghostwhite;
	border-radius: 5rem;
	cursor: pointer;
	display: inline-block;
	font-size: 5.0rem;
	height: 7rem;
	line-height: 5rem;
	margin: 0 20px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 7rem;

}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 7rem;
	height: 7rem;
	border-radius: 3.6rem;
	margin: -3.5rem;
}



.twitter span {
	background-color: #4099ff;
}
.github span {
	background-color: black;
}
.linkedin span {
	background-color: #0077B5;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	text-decoration:none;
	color: inherit;
	height: 7rem;
	left: 0;
	line-height: 7rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 7rem;
	z-index: 10;
}

.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-github {
	color: black;
}
.icon-button .icon-linkedin {
	color: #0077B5;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-github,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-google-plus {
	color: white;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .icon-button {

    }

    .icon-button span {
        border-radius: 3.6rem;
        display: block;
        height: 7rem;
        left: 50%;
        margin: -3.5rem;
        position: absolute;
        top: 50%;
        width: 7rem;
    }

    .icon-button:hover span {

    }        

    .icon-button i {
        background: none;
        text-decoration:none;
        color: inherit;
        height: 7rem;
        left: 0;
        line-height: 7rem;
        position: absolute;
        top: 0;
        width: 7rem;
        z-index: 10;
    }

    .icon-button .icon-twitter {
        color: white;
    }

    .icon-button .icon-github {
        color: white;
    }

    .icon-button .icon-linkedin {
        color: white;
    }

    .icon-button .icon-facebook {
        color: white;
    }

    .icon-button .icon-google-plus {
        color: white;
    }

    .icon-button:hover .icon-twitter,
    .icon-button:hover .icon-github,
    .icon-button:hover .icon-facebook,
    .icon-button:hover .icon-linkedin,
    .icon-button:hover .icon-google-plus {
    }
}

@media(max-width:767px) {
    .icon-button {

    }

    .icon-button span {
        border-radius: 3.6rem;
        display: block;
        height: 7rem;
        left: 50%;
        margin: -3.5rem;
        position: absolute;
        top: 50%;
        width: 7rem;
    }

    .icon-button:hover span {

    }        

    .icon-button i {
        background: none;
        text-decoration:none;
        color: inherit;
        height: 7rem;
        left: 0;
        line-height: 7rem;
        position: absolute;
        top: 0;
        width: 7rem;
        z-index: 10;
    }

    .icon-button .icon-twitter {
        color: white;
    }

    .icon-button .icon-github {
        color: white;
    }

    .icon-button .icon-linkedin {
        color: white;
    }

    .icon-button .icon-facebook {
        color: white;
    }

    .icon-button .icon-google-plus {
        color: white;
    }

    .icon-button:hover .icon-twitter,
    .icon-button:hover .icon-github,
    .icon-button:hover .icon-facebook,
    .icon-button:hover .icon-linkedin,
    .icon-button:hover .icon-google-plus {
    }
}